In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
NTBK_DIR = os.path.dirname(cwd)

DATA_DIR = os.path.join(NTBK_DIR, 'box_office_data')
CACHE_DIR = os.path.join(NTBK_DIR, 'cache')

working_file = os.path.join(CACHE_DIR, "box_office_dataset.csv")
output_file = os.path.join(CACHE_DIR, "box_office_dataset_cleaned.csv")

In [3]:
df = pd.read_csv(working_file)

In [4]:
df['Rank'] = -1

df['Domestic %'] = df['%']
df['Foreign %'] = df['%.1']
df.drop(columns=['%', '%.1'], inplace=True)

In [5]:
 df['Worldwide'] = df['Worldwide'].replace("$", "").replace(",", "")

In [6]:
to_clean_cols = ['Worldwide', 'Domestic', 'Foreign']

def currency_str_to_int(currency_val):
    currency_val = currency_val.replace("$", "").replace(",", "")
    try:
        currency_val = int(currency_val)
    except:
        currency_val = 0
    return currency_val

def clean_col(row):
    """
    row = Pandas series
    dataframe = collection of pandas series
    """
    for col in to_clean_cols:
        curr_val = row[col]
        row[col] = currency_str_to_int(curr_val)
    return row

df_cleaned = df.apply(clean_col, axis=1)

In [7]:
df_cleaned.sort_values(by=['Worldwide'], inplace=True, ascending=False)
# inplace changes value to the original dataframe, false by default
# reset index and drop original values
df_cleaned.reset_index(inplace=True, drop=True)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Avengers: Endgame,2797501328,858373000,1939128328,2019.csv,2019,30.7%,69.3%
1,-1,Star Wars: Episode VII - The Force Awakens,2068223624,936662225,1131561399,2015.csv,2015,45.3%,54.7%
2,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
3,-1,Jurassic World,1670400637,652270625,1018130012,2015.csv,2015,39%,61%
4,-1,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%

In [8]:
# update rank
df_cleaned['Rank'] = df_cleaned.index + 1

In [9]:
# change percent type
df_cleaned['Domestic %'] = df_cleaned['Domestic'] / df_cleaned['Worldwide'] * 100
df_cleaned['Foreign %'] = df_cleaned['Foreign'] / df_cleaned['Worldwide'] * 100

In [10]:
df_cleaned.to_csv(output_file, index=False)